:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.min-height-main-content {
    min-height: calc(100vh - 246px);
}

body {
  transition: padding-top 0.3s ease-in-out;
}

.alert-info {
  background-color: var(--bs-gray-400);
  border-color: var(--bs-gray-400);
  color: var(--bs-dark);
}

.toast.bg-info {
  background-color: var(--bs-gray-400) !important;
  border-color: var(--bs-gray-500);
  color: var(--bs-dark);
  font-weight: 500;
}

.toast.bg-danger {    
  background-color: rgba(var(--bs-danger-rgb), 90%) !important;
  font-weight: 500;
}

.toast.bg-success {    
  background-color: rgba(var(--bs-success-rgb), 90%) !important;
  font-weight: 500;
}