.blog-navbar-brand {
  width: 130px;
}

/* .avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
} */

.avatar {
    width: 40px; /* O la dimensione desiderata per il tuo avatar */
    height: 40px;
    object-fit: cover;
    border: 2px solid transparent; /* Bordo iniziale trasparente */
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Transizione fluida */
}

.avatar:hover {
    border-color: #007bff; /* Colore del bordo all'hover, ad esempio blu primario di Bootstrap */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); /* Un leggero effetto ombra/bagliore */
    cursor: pointer; /* Cambia il cursore per indicare che è cliccabile */
}

/* Stili per il dropdown toggle senza freccetta */
.no-caret-dropdown-toggle::after {
    display: none; /* Nasconde la freccetta */
}

/* Se usi un Nav.Link come toggle, assicurati che non abbia padding in eccesso */
.dropdown .nav-link.p-0 {
    padding: 0 !important;
}