.navbar {
  transition: all 0.3s ease-in-out;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 1030; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar.scrolled:not(.navbar-admin) {
  background-color: #f8f9fa !important;
}

.blog-navbar-brand {
  height: 80px;
  width: auto;
  transition: all 0.3s ease-in-out;
}

.blog-navbar-brand.scrolled-logo {
  height: 40px;
}

/* .avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
} */

.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 2px solid transparent;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.avatar:hover {
    border-color: #007bff; 
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); 
    cursor: pointer; 
}

.no-caret-dropdown-toggle::after {
    display: none;
}

.dropdown .nav-link.p-0 {
  padding: 0 !important;
}