.admin-products-table .th {
    color: var(--bs-dark-text-emphasis) !important;
}

.section-image {
    background-color: var(--bs-gray-300);
}

.container-image {
    display: flex;
    justify-content: center;
    height: 200px;
    width: auto;
}